[2015-03-04 02:16] jovo opened #2 "add all gists"

[2015-03-04 02:55] wrgr opened #3 "Investigate potential issue with startup.m placement (ocpMatlab install)"

[2015-03-04 21:51] asanborn opened #4 "xyzOffsets not uploading for voxelLists"
If I create a RAMONSegment of type voxelList with specified xyzOffset, then upload it and query it, I get the same RAMONSegment back except the xyzOffset is empty.

e.g.:

centroid = [20,3,9];
xyzOffset = [2000 2000 500];
z1 = RAMONSegment(centroid, eRAMONDataFormat.voxelList, ...
                  xyzOffset, resolution, ...
                  eRAMONSegmentClass.soma);

z1 =

  1x3 RAMONSegment arr

[2015-03-06 00:27] jovo opened #5 "auto-generate documentation"

[2015-03-10 21:55] wrgr opened #6 "Update API to match new proj info interface"
Ready to roll once API is updated.  Backend tests pass.

[2015-03-12 19:19] wrgr commented on #5
Decided that autodoc for ocpMatlab doesn't make sense - building out on the wiki.

[2015-03-12 19:19] #5 closed, assigned to wrgr

[2015-03-22 17:45] aksimhal opened #7 "basicWrapper.py runtime error"
When running the basicWrapper file (`python basicWrapper.py basicWrapperTestMFile.m '4.4' mystr '[2, 2, ; 3, 2]' 'true'` ), the matlabinit file generates an error.  However, I'm not sure when/how that file is called in the first place.  Error message:

error message:

[code]

[2015-03-22 20:17] wrgr commented on #7
Thanks!

Two things:
1.  Strongly recommend that you integrate on a CentOS virtual box, rather
   than a mac.  Although things are cross-platform, developing on a mac is
   likely to cause integration headaches later.
2.  Matlab has an order it looks for things (folders on your path).  What
   the error message is saying is that you are trying to call:

Function Called:
/Users/anish/Documents/Conn

[2015-03-22 23:37] aksimhal commented on #7
(1) will do!

(2) I still don't understand the cause/solution of the error - sorry!

Thanks Will!

[2015-03-23 00:04] wrgr commented on #7
What specifically is confusing, so we can help?  Basically, you need to
properly specify your paths, so that you are calling the function you
intend to call.  You can do this by setting environment variables and using
relative paths...as a short term workaround, you can use a hardcoded path.

You call:

python basicWrapper.py basicWrapperTestMFile.m '4.4' mystr '[2, 2, ; 3, 2]'
'true' )

But the b

[2015-03-23 04:00] aksimhal commented on #7
ah - understood! Thanks so much!

[2015-03-23 04:00] #7 closed, assigned to nobody

[2015-04-15 19:29] jovo opened #9 "update wiki to replace ocpMatlab everywhere with cajal"

[2015-04-15 22:40] wrgr commented on #9
How can I change the name of a wiki page?  Wanted to change link name and
page destinations....

Best,
Will

On Wed, Apr 15, 2015 at 3:29 PM, joshua vogelstein <notifications@github.com

[2015-04-15 22:46] alexbaden commented on #9
Create new page with new name. Delete old page (by saving it empty).
On Wed, Apr 15, 2015 at 18:40 William Gray notifications@github.com wrote:

[2015-04-15 22:47] wrgr opened #10 "Document RAMON Overview"

[2015-04-15 22:47] wrgr opened #11 "Document RAMON Data Types"

[2015-04-15 22:47] wrgr opened #12 "Document RAMON Methods"

[2015-04-15 22:47] wrgr opened #13 "Document CAJAL Overview"

[2015-04-15 22:47] wrgr opened #14 "Document CAJAL Methods"

[2015-04-15 22:49] wrgr opened #15 "Create Reference Object Detection Pipeline - Standalone"

[2015-04-15 22:49] wrgr opened #16 "Create Reference LONI Object Detection Pipeline"

[2015-04-15 22:53] wrgr opened #17 "Creating Training Example/Paradigm"

[2015-04-23 03:18] jovo opened #18 "replace CAJAL3D with CAJAL everywhere"

[2015-04-23 16:54] alexbaden opened #19 "add channel support to cajal (independent of new schema, sort of)"
Will probably involve adding a setChannel setter (and getter?) and also checking to see if it's null before making the request.

@willgray agreed?

[2015-04-23 16:58] wrgr commented on #19
i think so.  Unless the default channel option takes care of this...

Best,
Will

On Thu, Apr 23, 2015 at 12:55 PM, Alex Baden notifications@github.com
wrote:

[2015-04-24 00:27] alexbaden commented on #18
This will break a lot of stuff. I'm going to look into aliasing it somehow.

Alex
On Wed, Apr 22, 2015 at 23:18 joshua vogelstein notifications@github.com
wrote:

[2015-04-24 00:33] wrgr commented on #18
I will poke at this too.  I may be able to do a global find-replace.  The
issue is that this is what Anish, etc. use, so we'll have to individually
reach out.  We might be able to get away with it given that it's only a
handful of people...

Best,
Will

On Thu, Apr 23, 2015 at 8:27 PM, Alex Baden notifications@github.com
wrote:

[2015-04-24 00:43] wrgr opened #20 "cloning objects"
Deep copy seems to not quite work.  It works generally, but dynamic metadata and data type fields are 'sticky'

[2015-04-24 00:43] wrgr commented on #20
I can help if you need me.

[2015-05-01 15:45] alexbaden opened #21 "Test the cajal / cajal3d subclass in ab-dev"
@willgray
Checkout my branch, try running your stuff w/ it. It should be pretty close to master otherwise. I don't want to port the cajal / cajal3d subclass to the new version until we know it works!

If it doesn't work assign this to me.

[2015-05-01 16:03] alexbaden commented on #21
Hold off on this... something else is broken.

[2015-05-01 16:50] wrgr commented on #21
ok.  I made you your own RAMON Objects...coming in the next 30 minutes.

Best,
Will

On Fri, May 1, 2015 at 12:03 PM, Alex Baden notifications@github.com
wrote:

[2015-05-11 05:20] aksimhal opened #23 "Error in the upper bound validation of a query"
Lines in OCPQuery containing this string:
if this.zRange(2) > dbInfo.DATASET.SLICERANGE(2)

should be:

if this.zRange(2) > dbInfo.DATASET.SLICERANGE(2)+1

(there are 4 of these statements)

[2015-05-12 01:42] alexbaden commented on #23
Pull the commit referenced above -- this should be fixed!

[2015-05-12 01:42] #23 closed, assigned to nobody

[2015-05-12 01:45] alexbaden commented on #18
I think this is in good shape with the commit I just pushed to the 171 dev branch (https://github.com/openconnectome/CAJAL/commit/d293e4ebe471d30e92bd50d5b002595910b082af). You can now call cajal3d with either cajal3d() or cajal().

[2015-05-12 01:45] #18 closed, assigned to wrgr

[2015-05-12 01:45] #21 closed, assigned to wrgr

[2015-05-12 15:37] #19 closed, assigned to alexbaden

[2015-05-12 15:37] #9 closed, assigned to wrgr

[2015-05-15 14:44] jovo commented on #15
bump?

[2015-05-15 14:44] jovo commented on #16
bump?

[2015-05-15 15:06] wrgr commented on #16
These are done for at least the first pass - but I think I'm deleting these from CAJAL and moving to vesicle?  Or no?

On Fri, May 15, 2015 at 10:44 AM, joshua vogelstein
notifications@github.com wrote:

[2015-05-15 15:17] jovo commented on #16
i trust your judgement.

On Fri, May 15, 2015 at 11:06 AM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-05-15 19:45] alexbaden commented on #14
http://stackoverflow.com/questions/2417560/how-to-document-object-oriented-matlab-code

http://www.mathworks.com/matlabcentral/fileexchange/25925-using-doxygen-with-matlab

multiple options (logging here for safekeeping)

[2015-05-16 13:47] jovo commented on #14
i'm hoping sphinx is the solution, cuz that is what we are using for m2g,
so knowledge transfer will be easiest.

On Fri, May 15, 2015 at 3:45 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-05-16 14:22] alexbaden commented on #14
The plugin for Sphinx has some issues -- I tried it already and didn't get
good (or any) results. We can experiment.

Alex
On Sat, May 16, 2015 at 09:47 joshua vogelstein notifications@github.com
wrote:

[2015-05-16 17:52] alexbaden opened #24 "Improve bounds checking in all OCPQuery validation functions"
Need to firm up what an "offset" and "dimension" means in terms of image size. For example, given a dataset with X offset 5 and X dimension 100, to get the entire X range do you call:

Xrange = [5, 100]
Xrange = [5,99]
Xrange = [5,101]

Or something else? @randalburns @kunallillaney

[2015-05-16 21:23] wrgr commented on #14
Yah.  There's a patch that's supposed to help.  I like Sphinx for all the
python stuff...would be nice to have a common setup.  One option is to
publish the overall pages in sphinx, and use some other tool to document
actual functions and methods.

Greg and I are sphinxing m2g tomorrow - feel free to join us!

Best,
Will

On Sat, May 16, 2015 at 10:22 AM, Alex Baden notifications@github.com
wrote:

[2015-05-16 21:34] wrgr commented on #24
Is this a quiz?  I vote 5,101.

NB historically CAJAL tries to match the OCP backend (the numbers we use
match the restful args), even though there are places where this is less
intuitive for an end-user.

Best,
Will

On Sat, May 16, 2015 at 1:52 PM, Alex Baden notifications@github.com
wrote:

[2015-05-25 22:06] kunallillaney commented on #24
[5,101] is correct.

[2015-05-27 21:44] wrgr opened #25 "Fix bounds issues"
Line 208 in cubeCutoutPreprocess calls a function 'checkCoordBoundaries' (line 603).  checkCoordBoundaries takes the end_slice +1 value and replaces it with end_slice.

Line 638:
if zCoord + zSpan > z_size(2)
    zMax = z_size(2);

[2015-06-12 22:44] kunallillaney opened #26 "testNeuronSetFields"
This test sends this request apiUnitTestKasthuri/189/setField/segments/12,34,56,776,45,34,54,615/ which is incorrect. setField is the service here not 189.

[2015-06-24 16:05] alexbaden commented on #6
Completed with 1.8.0 RC1.

[2015-06-24 16:05] #6 closed, assigned to nobody

[2015-07-13 04:40] kunallillaney opened #28 "Run final test against v0.7-beta.1"

[2015-07-13 18:02] alexbaden commented on #20
Can you provide an example?

[2015-07-13 18:02] alexbaden commented on #26
Fixed.

[2015-07-13 18:02] #26 closed, assigned to nobody

[2015-07-13 18:15] alexbaden commented on #28
All tests pass, except for the two kasthuri11 image cutout tests. I believe the problem there is a Z-indexing error with the way I setup kasthuri11 in my branch vs the way Dean had it setup in the previous branch. Once you migrate kasthuri11 we can look at it, but I suspect the kasthuri11 z-offset "should" be 1 to maintain compatibility with the existing data model.

[2015-07-13 18:18] wrgr commented on #20
You is @willgray?

How would you like it?  A mat file or a set of CAJAL instructions/sample
code?

Best,
Will

On Mon, Jul 13, 2015 at 2:02 PM, Alex Baden notifications@github.com
wrote:

[2015-07-13 18:18] kunallillaney commented on #28
Great.

[2015-07-13 18:18] #28 closed, assigned to nobody

[2015-07-13 20:41] jovo opened #29 "some tests fail, the output of matlab is below"
## Starting Unit Tests

The following unit test requires testMatlabInit.m to be configured:

testMatlabInit

Do you still want run this test? (Y or N):N

The following unit test(s) require the GUI and/or user interaction and are currently included:

testRAMONVolume

Do you still want run these tests? (Y or N):N

The following unit test require the distributed semaphore installed and configured in

[2015-07-14 01:53] alexbaden commented on #29
Make sure the target server is brainviz1 in testOCP.m and then run

[code]

[2015-07-14 01:57] jovo commented on #29
it worked the 2nd time, so maybe it is resolved?

On Mon, Jul 13, 2015 at 9:53 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-07-21 16:22] alexbaden opened #30 "match ocp datatype changes (probmap float32 --> image float32)"

[2015-07-22 17:14] gkiar opened #31 "Document RAMONROI spec"

[2015-07-22 17:42] gkiar opened #32 "Nifti Upload and Offsets"
The niftii header information is as shown below. I believe the field which we can use for offsets when ingesting small volumes is the intent_p\* field. It is not intended for this purpose, but it seems that all other triple-fields have significance with regards to the affine transform of the image. If you expect your affine transform in the header to be identity, then use the qoffset_\* field. @wi

[2015-07-23 03:15] wrgr opened #33 "Unacceptable use of the startup file"
This is a terrible way to add paths:
/usr/local/matlab/toolbox/local/startup.m

FIXME  - cluster config

[2015-07-24 15:00] wrgr opened #34 "update data access code and LONI modules for download"
Should be compatible with new and old branch.

[2015-07-24 15:01] wrgr opened #35 "update data access code and LONI modules for upload"
should be compatible with new and old branches

[2015-08-10 20:23] wrgr opened #38 "New Branch Test Failures?"
Against brainviz1...probably doing something wrong?
## Starting Unit Tests

1 Test Suites selected out of 16 Test Suites discovered

<><><><> Running Test Suite 1 of 1 <><><><><><><><><><>
Test suite: testOCP
Test suite location: /Users/graywr1/code/cajal/test/matlab/api/testOCP.m
10-Aug-2015 16:17:37

Starting test run with 69 test cases.
.......FF......F.FFF
..FFF..FF...F.......
..FF.FFFFF......

[2015-08-10 20:25] alexbaden commented on #38
The first thing to do is immediately run tests again. Do you get the same
output?

On Mon, Aug 10, 2015 at 3:23 PM William Gray notifications@github.com
wrote:

[2015-08-10 20:34] wrgr commented on #38
seems like:

1 Test Suites selected out of 16 Test Suites discovered

<><><><> Running Test Suite 1 of 1 <><><><><><><><><><>
Test suite: testOCP
Test suite location: /Users/graywr1/code/cajal/test/matlab/api/testOCP.m
10-Aug-2015 16:29:36

Starting test run with 69 test cases.
.......FF......F.FFF
..FFF..FF...F.......
..FF.FFFFF..........
.......F.
FAILED in 241.678 seconds.

===== Test Case Fail

[2015-08-10 20:36] alexbaden commented on #38
Which branch is this?

On Mon, Aug 10, 2015 at 3:35 PM William Gray notifications@github.com
wrote:

[2015-08-10 20:38] wrgr commented on #38
- dev-180-RC2  [is this right?]

Best,
Will

On Mon, Aug 10, 2015 at 4:36 PM, Alex Baden notifications@github.com
wrote:

[2015-08-10 20:41] alexbaden commented on #38
Yeah, that's right. Not sure what's going on. I'll have to look into it.
Give me a few hours...

On Mon, Aug 10, 2015 at 3:39 PM William Gray notifications@github.com
wrote:

[2015-08-10 21:27] alexbaden commented on #38
Also -- what command are you using to run tests?

On Mon, Aug 10, 2015 at 16:39 William Gray notifications@github.com wrote:

[2015-08-10 21:29] wrgr commented on #38
RUN_TESTS('testOCP')

Best,
Will

On Mon, Aug 10, 2015 at 5:27 PM, Alex Baden notifications@github.com
wrote:

[2015-08-10 22:30] alexbaden commented on #38
Very strange:

[code]

The two failures there are the same two failures we've had over and over again (downloading kasthuri cutout and comparing). I'm not concerned, because (1) this is the dev server and kasthuri data isn't being used for production and (2) the upload/download cutout tests work fine.

I just ran that test between CAJAL 1.8 and current OCP master. brainviz is a little out of date

[2015-08-11 17:15] alexbaden commented on #38
I have this down to 5 failures (2 existing). I suspect most of these have to do with the data that exists on brainviz (all still pass on my local copy), especially since we modified kasthuri11 dataset parameters.

[2015-08-16 05:40] #12 closed, assigned to wrgr

[2015-08-16 05:40] #11 closed, assigned to wrgr

[2015-08-16 06:10] jovo commented on #11
W00t
On Aug 15, 2015 11:41 PM, "William Gray" notifications@github.com wrote:

[2015-08-20 02:53] jovo opened #39 "make gh-page"
@willgray

[2015-08-21 21:08] wrgr commented on #10
duplicate

[2015-08-21 21:08] #10 closed, assigned to wrgr

[2015-08-21 21:09] wrgr opened #40 "standardize data upload types for channels and annodata"

[2015-08-21 21:09] wrgr opened #41 "Assess if channel is required for RAMONObjects or convenience"
Avoid duplication and confusion if possible.

[2015-08-21 21:10] wrgr opened #42 "Unit test fails (#1) - setting invalid server"
This is pretty minor and doesn't impact science.  Maybe should remove test as OBE.

[2015-08-21 21:10] wrgr opened #43 "Upload/Download Bug"
Tests to put and then get same data don't match.  Works on v1.7 with same code.  Urgently needs to be fixed.

[2015-08-21 21:12] wrgr opened #44 "provide chunking for uploading, perhaps in LONI"
Would make it much easier to upload data for many people.

[2015-08-21 21:13] wrgr opened #45 "Write code to distribute ID list across many workers."

[2015-08-21 21:14] wrgr opened #46 "Clarify default image channel in documentation and code"
Leads to confusion, although tests passing for now.

[2015-08-21 21:17] alexbaden commented on #43
Does put and get work with master on brainviz?

Alex

On Fri, Aug 21, 2015 at 14:11 William Gray notifications@github.com wrote:

[2015-08-21 21:21] wrgr commented on #43
correct.  This works on 1.7 and brainviz.  So I'm guessing that something
changed on the backend interface that is either a bug or we need to fix.

Best,
Will

On Fri, Aug 21, 2015 at 5:17 PM, Alex Baden notifications@github.com
wrote:

[2015-08-21 21:26] alexbaden commented on #43
CAJAL 1.7?

Can you do a test of current master against brainviz?

Alex

On Fri, Aug 21, 2015 at 14:22 William Gray notifications@github.com wrote:

[2015-08-21 21:45] wrgr commented on #43
Trying to do two things - master + brainviz works!
On Fri, Aug 21, 2015 at 5:26 PM Alex Baden notifications@github.com wrote:

[2015-08-21 22:33] wrgr opened #47 "investigate overlay issue"
overlay query is likely not functional right now.

[2015-08-21 22:34] alexbaden commented on #47
por que?

On Fri, Aug 21, 2015 at 3:34 PM William Gray notifications@github.com
wrote:

[2015-08-21 22:35] wrgr commented on #43
Ok - I'm fairly certain now of three things:
1.  This is impacting core cajal functionality and cajal can't be used until this is resolved
2.  It appears to be a mismatch in fundamental code between CAJAL and OCP.  Something changed between 1.7 and 1.8...nothing obvious client side
3.  It impacts 22 of the 23 failing tests, so hopefully fixing this one thing will get us in a position to do science

[2015-08-21 22:38] wrgr commented on #47
Was worried because of the new syntax.  These unit tests actually just passed, so things are ok.  False alarm.

[2015-08-21 22:38] #47 closed, assigned to nobody

[2015-08-21 22:39] alexbaden commented on #47
Woooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooootooooooooooooooooooooooooooooooooooooooooooooooooo
ooooooot!

On Fri, Aug 21, 2015 at 3:38 PM William Gray notifications@github.com
wrote:

[2015-08-21 22:44] wrgr commented on #47
+1

Best,
Will

2015-08-21 18:39 GMT-04:00 Alex Baden notifications@github.com:

[2015-08-24 15:13] wrgr opened #48 "Get last z slice"
Bounds checking prevents this (I think) right now.

[2015-08-24 16:12] alexbaden commented on #48
Yeah, that sounds possible. Easy enough to fix, looking now...

Alex
On Mon, Aug 24, 2015 at 08:13 William Gray notifications@github.com wrote:

[2015-08-24 16:35] alexbaden commented on #48
@willgray

Right now, all of the CAJAL calls are consistent:

[code]

Let's say I have a dataset that has offsets (1,1,1) and image dimensions (100,100,100). I assume this means there is data at both voxel (1,1,1) and (100,100,100). So, if I wanted to get just the voxel at (100,100,100), what would I query in OCP? And similarly for (1,1,1)? @kunallillaney @randalburns

[2015-08-24 16:49] wrgr commented on #48
I think:

For (1,1,1), your setCutout is [1,2],[1,2],[1,2].
For (100,100,100), your setCutout is [100,101], [100,101],[100,101], thus
the trouble.

We notice this on the z axis, but probably true for x,y as well.  (0-100
actually has 101 pixels, not 100)

On Mon, Aug 24, 2015 at 12:35 PM Alex Baden notifications@github.com
wrote:

[2015-08-24 17:00] alexbaden commented on #48
I think so, too. Worth testing with an example dataset? Possibly use ocpy
to post and cajal to get, then vice versa? I'll try and make the changes on
the dev branch this afternoon.

On Mon, Aug 24, 2015 at 9:49 AM William Gray notifications@github.com
wrote:

[2015-08-24 17:04] wrgr commented on #48
so all development on cajal (I hope) is on cajal-docs - do you want to do
branch management differently?

Because we are documenting with sphinx, it's annoying...we'll wind up
touching pretty much every file, so pull requests from two branches will be
horrible to merge.

On Mon, Aug 24, 2015 at 1:01 PM Alex Baden notifications@github.com wrote:

[2015-08-25 19:03] alexbaden opened #49 "fix bounds checking for x, y, and z"
pending outcome of https://github.com/openconnectome/open-connectome/issues/108

[2015-08-25 19:03] alexbaden commented on #48
Closing in favor of #49

[2015-08-25 19:03] #48 closed, assigned to nobody

[2015-08-25 19:04] alexbaden commented on #38
The vast majority of these seem to be related to OCP v0.8 bugs. I am closing this issue -- after fixing bounds checking, I will re-run the unit tests and open an individual issue for each one that fails.

[2015-08-25 19:04] #38 closed, assigned to nobody

[2015-08-25 19:07] wrgr commented on #38
That's right, although possibly all the same bug, so maybe wait for
resolution of larger issue.

Best,
Will

On Tue, Aug 25, 2015 at 3:04 PM, Alex Baden notifications@github.com
wrote:

[2015-08-25 19:14] alexbaden commented on #24
No longer valid -- see #49

[2015-08-25 19:14] #24 closed, assigned to alexbaden

[2015-08-25 20:21] wrgr opened #50 "Duplicate data fields"
In new cajal, we have eRAMONChannelDataType, and eRAMONDataType.

Do we really need both?  It's confusing - what if they are inconsistent?  Seems like we should do at a channel level and be done.

@gkiar @j6k4m8

[2015-08-25 20:31] alexbaden commented on #50
The existing CAJAL infrastructure matched OCP exactly, so that's what I
copied. They could be combined back into one. However, that would mean we
would have to write a bunch of backend functions to take the data type from
OCP (for example, timeseries + 16bit) and convert it to CAJAL
(timeseries16).

On the one hand, having separate channel and data types is really nice. If
OCP decides to support 3

[2015-08-27 23:02] wrgr opened #51 "Remove prob32 from eRAMONChannelType"
This has changed for v1.8.

@gkiar

[2015-08-27 23:02] wrgr commented on #51
correct type for probability maps is image

[2015-08-27 23:07] alexbaden commented on #51
float32 + image?

On Thu, Aug 27, 2015 at 7:03 PM William Gray notifications@github.com
wrote:

[2015-08-27 23:15] wrgr commented on #51
@kunallillaney ?

[2015-08-27 23:18] kunallillaney commented on #51
yes.

[2015-08-27 23:38] wrgr opened #52 "change default probmap channel in channel/token script creation"
Should be image + prob32.  In console this is probability map.

[2015-08-27 23:42] jovo commented on #17
@willgray

[2015-08-27 23:42] #17 closed, assigned to wrgr

[2015-08-27 23:43] jovo commented on #16
@willgray this is now ilastik object detect?

[2015-08-27 23:55] wrgr commented on #16
leave it open.  that or vesicle.  but either way part of macho, not cajal

On Thu, Aug 27, 2015 at 7:43 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-28 00:22] wrgr commented on #39
done

[2015-08-28 00:22] #39 closed, assigned to j6k4m8

[2015-08-28 00:24] wrgr commented on #31
Randal - is this implemented?  Needed for MR integration and generalizability.  Not pressing for science, but the last piece of RAMON for now.  Delegate if needed?  Happy to help define fields if needed.  @gkiar

[2015-08-28 00:26] wrgr opened #53 "testInit test case fails"
We should probably check that server is valid when set; this doesn't impede science so enhancement.  Expected behavior is FAIL.

===== Test Case Failure =====
Location: /Users/graywr1/code/cajal-docs/test/matlab/api/testOCP.m
Name:     testInit

/Users/graywr1/code/cajal-docs/test/matlab/api/testOCP.m at line 50

Expected exception "OCP:ServerConnFail", but none thrown.

[2015-08-28 00:26] wrgr opened #54 "testUploadDownloadProbMapCutout unit test FAILS"
Test case fails - critical for science.  Likely due to a real bug in the underlying code.  other issues address the backend handling, which appear resolved.

===== Test Case Failure =====
Location: /Users/graywr1/code/cajal-docs/test/matlab/api/testOCP.m
Name:     testUploadDownloadProbMapCutout

/Users/graywr1/code/cajal-docs/api/matlab/ocp/OCPHdf.m at line 888
/Users/graywr1/code/cajal-docs/api/

[2015-08-28 00:28] wrgr opened #55 "testUploadDownloadAnnoBlockCutout unit test FAILS"
Critical for science.  Post fails for an unknown reason.  Works on Kunal's development server.  Likely something simple, possibly due to propagate?

===== Test Case Failure =====
Location: /Users/graywr1/code/cajal-docs/test/matlab/api/testOCP.m
Name:     testUploadDownloadAnnoBlockCutout

/Users/graywr1/code/cajal-docs/api/matlab/ocp/OCPNetwork.m at line 342
/Users/graywr1/code/cajal-docs/api/mat

[2015-08-28 00:44] wrgr commented on #46
fixed.

[2015-08-28 00:44] #46 closed, assigned to wrgr

[2015-08-28 01:48] alexbaden opened #56 "make sure tests that require "db blanking" are documented somewhere"
Two such tests are:

[code]

and

[code]

[2015-08-28 02:16] alexbaden commented on #55
Ah hah!
`raise OCPCAError ("Conflicting data types for overwrite")`
Here is the entire trace:

[code]

So, you basically have some junk in the dsp029 apiUnitTestKasthuri channel tables. I deleted the and recreated it manually, and now the test passes.

[2015-08-28 02:17] #49 closed, assigned to alexbaden

[2015-08-28 02:17] alexbaden commented on #43
Fixed w/ latest OCP master (thanks to @kunallillaney ).

[2015-08-28 02:17] #43 closed, assigned to nobody

[2015-08-28 02:19] alexbaden commented on #50
I think this is a pretty complicated thing to change. The best you could do would be to combine them in a method somewhere, so you set one "type" and it automatically sets the channel and data type (whenever user setting type is required).

[2015-08-28 02:20] alexbaden commented on #29
Closing in favor of other test failure issues / there have been a lot of changes since this issue.

[2015-08-28 02:20] #29 closed, assigned to nobody

[2015-08-28 02:20] alexbaden commented on #53
What were the circumstances surrounding this failure?

[2015-08-28 02:23] wrgr commented on #53
This is the first test that sets an invalid server. Cajal should catch but
doesn't. Low priority.
On Thu, Aug 27, 2015 at 10:20 PM Alex Baden notifications@github.com
wrote:

[2015-08-28 02:23] alexbaden commented on #52
image + float32. fixed on dsp029, fixed in my script.

[2015-08-28 02:23] #52 closed, assigned to nobody

[2015-08-28 02:24] alexbaden commented on #55
Not so fast. So, one of the unit tests must be writing garbage data, or dsp029 has some problem accepting that local servers / other servers do not.

Reopening...

[2015-08-28 02:28] #51 closed, assigned to nobody

[2015-08-28 02:31] alexbaden opened #57 "decide whether we want to keep tests that scrape kasthuri11 data"
Or are we happy with the upload / download tests? If we are happy with the scraping tests, we need to take a new kat11 reference dataset.

[2015-08-28 03:01] alexbaden commented on #54
Just had to change probmap to image, and make some minor changes in OCPHDf.m . Seems okay now. All pushed to master -- I can handle merging tomorrow w/ you.

The db on ocp.me was also messed up -- had apiUnitTestsKasthuriProb6 instead of apiUnitTestsKasthuriProb .

[2015-08-28 03:01] #54 closed, assigned to nobody

[2015-08-28 12:07] wrgr commented on #50
Yea - agreed.  I think after working through the unit tests, we can fix this in documentation - fine for people to be able to handle.

[2015-08-28 12:07] #50 closed, assigned to nobody

[2015-08-28 12:09] wrgr commented on #57
Tell me more?  I like the existing tests ok.  What's wrong with the
existing reference set?  I think these tests need to exist in some form,
but am less worried because we only need to validate cajal - backend unit
tests robustly test this functionality.

Best,
Will

On Thu, Aug 27, 2015 at 10:31 PM, Alex Baden notifications@github.com
wrote:

[2015-08-28 13:17] alexbaden commented on #57
Right now they aren't passing because the existing objects have a datatype,
and I just deleted datatype to try and keep the enum simple. But, that's
easy enough to fix -- grab a new cutout and save it as a .mat.

The bigger issue is you need kasthuri11 at res1 to pass the test (of course
we could use res5 or res7). That means someone who stands up their own
instance of OCP and CAJAL will never hav

[2015-08-28 18:39] wrgr opened #58 "Reserve Id Help"
When we reserve ids, and then post paint (as a ramonvolume) and then ramon objects, we get a duplicate primary key error.

Help?  Paint shouldn't consume these ids, correct?

@gkiar

[2015-08-28 19:10] wrgr commented on #55
Ok.  I think I tracked this down.  I added Line 277 in testOCP.m:

[code]

d is of type double with checkerboard.  Apparently this used to get cast in the hdf5 packaging or post to uint32 and all was well, but now is not.  As far as I can tell, this resolves the issue.

@alexbaden - can you merge your probmap fix and make sure this fixes the problem?  Should we add a check on datatype or cast to k

[2015-08-28 19:23] alexbaden commented on #55
It does get cast in the hdf5 packaging for uint32 annotations:

[code]

So, I think this is a problem in a different function?

[2015-08-28 19:33] wrgr commented on #55
well, but casting to uint32 fixes this, right?

The other thing I tried was changing the xoffsets from 2560 to 5560 and
that helped, but I don't think it was necessary.

Best,
Will

On Fri, Aug 28, 2015 at 3:23 PM, Alex Baden notifications@github.com
wrote:

[2015-08-28 19:36] alexbaden commented on #55
It's cast when you write to HDF5.

I found one piece of data that wasn't being cast when writing to HDF5. I cast it... let's see how this goes.

[2015-08-28 20:28] alexbaden commented on #55
Fixed. https://github.com/openconnectome/CAJAL/commit/214910dc901d6282b92e06c7f5e5cd27a8e1c79a

[2015-08-28 20:28] #55 closed, assigned to nobody

[2015-08-28 20:28] alexbaden commented on #25
Fixed, I think.

[2015-08-28 20:28] #25 closed, assigned to nobody

[2015-08-29 00:11] alexbaden opened #60 "update release notes for 1.8.0 RC3"

[2015-08-29 00:13] alexbaden commented on #57
My vote is no. If the unit tests pass, the data should be good. If we want to build separate tests for making sure specific data sets are in good shape, that's fine -- but I'm going to close this issue. Reopen if anyone feels strongly!

[2015-08-29 00:13] #57 closed, assigned to wrgr

[2015-08-29 16:16] wrgr opened #61 "fix support for cajal rgba32 data"
Commented out because eRAMONDataType.rgba32 is not an option.

[2015-08-29 16:22] alexbaden commented on #61
Right -- what support existed for RGBA before? If you want RGBA now, just
set the channelType to image and the channelDataType to uint32 . Are there
specific functions?

I will revisit the unit test.

Alex

On Sat, Aug 29, 2015 at 12:17 PM William Gray notifications@github.com
wrote:

[2015-08-29 16:24] wrgr commented on #61
I didn't write this well.  It's in the image visualization stuff.  I'll fix
it - that's what I needed to know.

Best,
Will

On Sat, Aug 29, 2015 at 12:22 PM, Alex Baden notifications@github.com
wrote:

[2015-08-29 17:25] wrgr opened #62 "RAMON Synapse cast error"
Uploading synapses sometimes results in a type error, similar to what we saw this past week.  To duplicate error, try running the following code snippet on a clean channel multiple times, with and without the explicit cast to uint32:

[code]

[2015-08-29 18:00] wrgr commented on #62
A more thorough test - checkout the `./examples/demoScript.m` file in the cajal-docs branch.  It should work multiple times with no issues.

[2015-08-29 19:23] wrgr opened #63 "Channel Name for upload"
@alexbaden - why is channel name required for upload as part of the RAMONObject?

If my ocp class ('oo') has a channel of 'anno', and my object ('vol') has a channel name of 'will',

when I execute:

`oo.createAnnotation(vol)` what happens?  Where should this data get posted?  I argue channel name is helpful for bookkeeping, but should be ignored/not required on upload.

[2015-08-29 19:34] alexbaden commented on #63
Channel name is required to package the HDF5 file. What will happen when
you post is the HDF5 will have data packaged as /will/CUTOUT but the target
channel will be anno, so presumably OCP will fail to eat the data.
On Sat, Aug 29, 2015 at 15:23 William Gray notifications@github.com wrote:

[2015-08-29 19:44] wrgr commented on #63
seems annoying maybe?  we're specifying the same data twice, right?
seems like we could draw packaging from the ocp packaging info instead?

the original idea of the channel in the object was just to help keep track
of where the data came from, not as part of the upload.

good idea or bad idea?

Best,
Will

On Sat, Aug 29, 2015 at 3:34 PM, Alex Baden notifications@github.com
wrote:

[2015-08-29 19:49] aksimhal opened #64 "Synapse Won't Upload"
Here's the gist:

https://gist.github.com/aksimhal/50d196267a9ef46af754

[2015-08-29 19:49] aksimhal commented on #64
@willgray @alexbaden

[2015-08-30 01:10] wrgr opened #65 "More typecasting problems"
Anish reports a weird error when uploading synapses.  We thought it might be the NX3 data being interpreting as a voxellist.  But it's not.  I think it's pre-existing junk data, because he was uploading random data, which had type double, and I think we weren't checking.

Thoughts?

https://gist.github.com/aksimhal/50d196267a9ef46af754

[2015-08-30 17:40] alexbaden commented on #65
Duplicate of #64

[2015-08-30 17:40] #65 closed, assigned to nobody

[2015-08-30 18:09] wrgr commented on #65
So all fixed? These were on rc3, so beyond the earlier fixes. I don't
observe this with my workflows (I cast and check).
On Sun, Aug 30, 2015 at 1:40 PM Alex Baden notifications@github.com wrote:

[2015-08-30 19:38] alexbaden commented on #63
Good idea. I can implement, but won't get to it until next week. Anyone else who wants to take a stab is welcome!

I make liberal use of the Matlab debugger, which will show you all environment variables as your function sees them as its running. So, somewhere in `oo.createAnnotation`, we need to either pass the channel name to an HDF5 write function or access the appropriate field of the `oo` obj

[2015-08-30 19:39] alexbaden commented on #65
No, I'm working on it now. Going to put all updates in #64 (edited)

[2015-08-30 19:42] #60 closed, assigned to alexbaden

[2015-08-30 20:00] alexbaden commented on #64
This doesn't look like a CAJAL problem.

[code]

It looks like you have int64 data in the database. I'm not sure what to do about this. Ping Kunal on Gitter?  I'm going to close this issue, since we're good on the CAJAL side (meaning once this is fixed, it won't happen again).

If this token data doesn't mean anything, just create a new token and you shouldn't have any issues.

[2015-08-30 20:00] #64 closed, assigned to nobody

[2015-08-30 20:09] alexbaden commented on #62
I'm not able to reproduce on a clean annotation channel as you described. Is it possible this wasn't using the latest version of CAJAL? I checked through all the HDF5 calls and they're all typecast, so you shouldn't need to explicitly cast to uint32 in setCutout.

[2015-08-31 13:05] wrgr opened #66 "OCP Schema v. 0.00?"
I get this error when getting and posting with cajal (rc3).  Anybody else or particular to my setup?

@alexbaden

Warning: This version of CAJAL may not be compatible with the OCP schema specified (OCP schema version 0.00)

[2015-08-31 20:52] alexbaden commented on #63
So the TODO is: change the query system to get the channel from oo, and display a deprecated message when q.setChannel is called (so we don't break people's existing queries)

[2015-08-31 23:23] wrgr commented on #63
well, where q is an object.  So syn.setChannel should return a warning that
says, this field is ignored when posting data and is for client-side
bookkeeping only.  Or similar/

On Mon, Aug 31, 2015 at 4:52 PM Alex Baden notifications@github.com wrote:

[2015-09-01 01:47] alexbaden commented on #66
All of the projects that were migrated are "legacy projects" -- so they have schema version 0.00. But, all of them should be compatible with CAJAL (since they all have channels). I'm not sure what issues legacy projects have (although I know now that you can't create new channels alongside certain legacy projects).

Really, I'm more interested in the OCP version, but that isn't exposed in any of t

[2015-09-02 17:19] wrgr commented on #66
I wonder if we should do something like augment the warning message to say "This warning is expected for legacy projects..."  This will confuse people, so maybe just suppress for legacy projects, and people just don't see that warning.  Legacy projects will be less important as time > infinity  :)

[2015-09-02 17:20] wrgr commented on #62
i am still confused.  I ran on cajal-docs branch just now - demoscript.m works the first time through, but fails on line 101, due seemingly to this issue somewhere downstream.  I can help debug if needed, but this seems at least reproducible.

I deleted and recreated the channel.

[2015-09-02 17:41] alexbaden commented on #62
Can you paste the error here? Or send me the webpage/html that is displayed
at OCP?

On Wed, Sep 2, 2015 at 1:20 PM William Gray notifications@github.com
wrote:

[2015-09-02 17:48] alexbaden commented on #66
Let's discuss OCP versioning at the next weekly meeting. This is tied to how OCP versioning works right now.

@kunallillaney @randalburns

[2015-09-02 23:15] wrgr commented on #62
Yah.  Here you go.  Eager to fix this - am in Oxford on Sunday to do a live demo and hoping to be able to share all of this.  See traceback below.

Environment:

Request Method: POST
Request URL: http://openconnecto.me/ocp/ocpca/cajal_demo/anno/overwrite/

Django Version: 1.8.4
Python Version: 2.7.3
Installed Applications:
('django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contentty

[2015-09-03 03:12] wrgr commented on #62
Update: when I post a synapse (similar to the above) - prior to packaging, it's of type uint32 (I cast to be certain).

When I pull down the data the result is a double in CAJAL.  So either CAJAL is packing/unpacking incorrectly or something funky on the backend.  I believe it's CAJAL, because on inspection of the raw HDF5 file, I confirm that the data values are  uint32.  Hopefully this is an eas

[2015-09-03 03:25] wrgr commented on #62
Line 1495 of OCPHdf:
     ramonObj.setCutout((permute(double(data),[2 1 3])));

The cast to double is weird.  And possibly related to this issue.  But I patched it (took out the cast) and error still recurs.  Fine on the first pass through demoscript, error on the second, seemingly because junk data is getting written or received.

[2015-09-04 00:15] alexbaden commented on #62
OCP bug. Has been fixed!

[2015-09-04 00:15] #62 closed, assigned to nobody

[2015-09-04 00:16] alexbaden commented on #58
I believe this may also be happening when you try and update an ID. For example, if I download a synapse and re-upload it, I get a duplicate key error. I don't know enough about the RAMON implementation to be more useful, but can provide HDF5 files if that would help.

[2015-09-04 01:12] kunallillaney commented on #58
Can you or @willgray please write me a stand-alone script to replicate this issue from the start. I can take a look at this later on the weekend.

[2015-09-04 19:01] wrgr commented on #58
done and sent via email.

On Thu, Sep 3, 2015 at 9:12 PM Kunal Lillaney notifications@github.com
wrote:

[2015-09-22 13:39] wrgr opened #68 "Update getChannelList() Method for OCP objects"
This currently doesn't work, but isn't critical for science.  Probably needs image/annotation versions.

Post-SFN.

[2015-09-22 14:59] wrgr commented on #58
Did this get resolved?  An immediate use case for this is Kwame's paint, which has no RAMON info.  We can save a bunch of time if this works.

[2015-09-22 15:00] kunallillaney commented on #58
You never got back to me on the id discussion we had.

[2015-09-23 14:08] kkutten1 opened #69 "CAJAL doesn't clean up thousands of OCPHdf_RAMON_tp*.h5 temporary files it creates"
CAJAL 1.8.0 RC3 creates thousands of OCPHdf_RAMON_tp*.h5 temporary files in the /tmp/ when I'm uploading image data on a Ubuntu 12.04 machine.  Since the machine is rarely rebooted, the files accumulate, take up space and slow down the file system. Right now I manually delete them to deal with this problem.

[2015-09-23 14:43] wrgr commented on #69
That's true. We decided to do it that way for traceability. Open to a
discussion. At the least, we could provide instructions to make a cron job
or similar to do the cleanup?

@all - many (most) servers have a cleanup policy, so this only really
affects clients who upload lots of data, which is perhaps fairly unusual?
On Wed, Sep 23, 2015 at 3:08 PM kkutten1 notifications@github.com wrote:

[2015-10-06 16:16] kkutten1 opened #70 "Point of Contact for Cajal 1.8.0 RC3 should be support@neurodata.io"
cajal3d displays the POC as ocp-support@googlegroups.com. It should display support@neurodata.io since ocp-support is now deprecated.

[2015-10-06 18:45] #70 closed, assigned to nobody

[2015-10-07 01:38] aksimhal opened #71 ""oldchannel" support"
CAJAL doesn't support 'oldchannel' as a data type which prevents access to the Chessboard Dataset.  Any file which does a type check is affected.

I can provide more information as needed - thanks!

[2015-10-16 05:58] wrgr opened #72 "cajal RAMONNeuron bug"
@alexbaden - I think I found a new RAMONNeuron bug.

Look at api/matlab/ocp/OCPHdf.m

line 842.  We explicitly allocate a memory space of 2.  I think this is just a bug - there can be as many segments as we want in a single neuron.  I made the change locally.  Seems to work.  Thoughts?

[2015-10-26 20:05] wrgr commented on #71
I propose the following fix:

Add enumeration type oldchannel in eRAMONChannelType

This works.  If we go this way, I recommend that we add an explicit warning that this project shouldn't be used for upload - if so, data corruption may result.

Perhaps on line 327 of RAMONBase?

@alexbaden - agree?  disagree?
@kunallillaney @jovo @j6k4m8

If we agree, I'll branch and pull request.  Will take me 10

[2015-10-26 21:07] alexbaden commented on #71
Disagree.

1) It's not that complicated to convert oldchannel projects to the new
schema. Just a few SQL queries, as far as I can tell. I did this
successfully with some AT data on the brainviz. Sure, it will take awhile,
but the sooner we start the faster it will be done...

2) It's not as simple as adding the enumeration in ChannelType -- you have
to know how to handle data of that type. It requ

[2015-10-26 21:33] wrgr commented on #71
@alexbaden's solution is much better technically, in my opinion.   Will
require time from @randalburns @kunallillaney, but not too much.

My solution is hacky, but will get us back to science in 10 minutes.
Fixing CAJAL in general is the wrong answer.  @alexbaden, you're right that
this only fixes image download, but this is actually the only query we want
to support with old channel.

So +1 to al

[2015-10-26 21:44] kunallillaney commented on #71
@randalburns and I spent a bunch of time making this oldchannel support possible because what is proposed by @alexbaden is unfeasible and dangerous. Old channel hdf5 cutout format is the same as all other cutouts. Your solution is the correct fix in my opinion, I would strongly recommend against changing mysql schema but you guys are free to do so yourselves.

[2015-10-26 21:47] alexbaden commented on #71
Why is it infeasible and dangerous? Create a new database with the new
schema, copy the old tables over, then run select zidx, blob from ...
insert into ...

Alex

On Mon, Oct 26, 2015 at 5:45 PM Kunal Lillaney notifications@github.com
wrote:

[2015-10-26 21:59] kunallillaney commented on #71
Unfeasible:
a. This is a different schema.
b. Multi-terabytes of data
c. Multiple Projects.
Dangerous:
a. Different schema with different keys

But if you think otherwise then you are free to pursue it yourself. I wrote a solution which I thought was the right way to deal with this data.

[2015-11-04 23:27] kkutten1 opened #73 "CAJAL or OCP computes cutout bounds incorrectly"
**Steps to reproduce using CAJAL 1.8.0 RC3:**
Create 100x200x300 dataset '{myToken}', corresponding Project '{myToken}' and channel 'grayscale'

Posting a 100x200x300 cutout at (0,0,0) only fills the top half of the image as observed through RESTful
http://openconnecto.me/ocp/ca/{myToken}/grayscale/xy/0/0,100/0,200/0/window/0,255/

[code]

Posting a 200x100x300 cutout at (0,0,0) returns 'Illegal r

[2015-11-04 23:38] jovo commented on #73
@kkutten1 can you check whether this is a CAJAL issue or a OCP issue?
if CAJAL, you might have to fix it, or start using ndio instead.
if OCP, @kunallillaney can fix it.
thanks, j

[2015-11-05 00:30] wrgr commented on #73
@alexbaden - did we fully fix the bounds checking?  I'd say 50%+ it's just an off-by-one bounds checking error and a quick fix.  The new support issues are perhaps the first time anyone has written to the upper bounds of a dataset, because in our existant EM data those regions are often all black.

For posterity:

When retrieving a region of data, [xstart,xstop,ystart,ystop,zstart,zstop], one actu

[2015-11-05 13:35] kkutten1 commented on #73
@willgray  I think it's a little more problematic than an off-by-one error.  For example....

[code]

[code]

[2015-11-05 14:06] wrgr commented on #73
Can you attach or paste error logs?  We need to determine if this is a
cajal or ocp backend issue.

Best,
Will

On Thu, Nov 5, 2015 at 8:35 AM, kkutten1 notifications@github.com wrote:

[2015-11-05 14:47] kkutten1 commented on #73
@willgray

When cutout = 128*ones([95,195,295]), only top 95x100 in xy plane is filled and matlab responds...

[code]

When cutout = 128*ones([195,95,295]) matlab responds...

[code]

...with all OcpUrlErrorResponse*.html files containing the following error

[code]

[2015-11-05 15:08] alexbaden commented on #73
Can you email me the token?

Offsets in OCP may not be working the way you expect. See https://github.com/openconnectome/open-connectome/issues/108

[2015-11-05 19:59] kkutten1 commented on #73
After speaking with @willgray I created a 50x200x100 dataset with token 'myToken2'.  I think this may be a problem in OCP, But I don't know where to start looking

This compares what I uploaded to OCP to what I downloaded

![upvsdown](https://cloud.githubusercontent.com/assets/9724840/10979895/1cf93428-83cd-11e5-96cf-ef1d04b4d595.png)

[code]

[2015-11-08 16:51] j6k4m8 commented on #73
ndio might be useful to diagnose? [cajal73.py](https://github.com/openconnectome/ndio-demos/blob/master/Logistics/cajal73.ipynb) don't have the internet here to do much more than comment on this, definitely can't do any up/download :(

[2015-11-09 15:53] kkutten1 commented on #73
I've been able to work around this issue  by posting the data in cubes with size <= than the smallest dimension of the dataset.  For example for myToken2 with a dataset size of 50x200x100 I post the data in blocks of size 50x50x50.

[2015-11-11 23:21] wrgr opened #74 "fix merge query generation in compute block"
This should work independently of the cutout queries and work ignoring padding.
Needed for all large scale processing, but not stopping science.

[2015-11-12 04:00] wrgr opened #75 "rgb32 data not supported"
This has been on the enhancements list for some time.  We now have the first examples of this data.  Enhancement request, not stopping science, but might make it harder in the near term.

HDF5 alternatives exist.  Putting here so it doesn't get lost.

@alexbaden @jovo

[2015-11-12 04:01] wrgr commented on #75
Discovered while exploring manno limitations, but applies generally across cajal...

[2015-11-12 04:06] jovo commented on #75
yah, i doubt we will ever care, because even if data is RGB32, we can always ingest as multichannel.  i guess this might matter when we ingest guardians of the galaxy....
@j6k4m8

[2015-11-12 04:31] wrgr opened #76 "document setup"
This is buried in the readme, but we often refer to setup for cajal and toolbox install.  Will simplify documentation

[2015-12-03 15:26] wrgr commented on #14
done to first order

[2015-12-03 15:26] #14 closed, assigned to wrgr

[2015-12-03 15:26] wrgr commented on #2
incorporated into doc

[2015-12-03 15:26] #2 closed, assigned to wrgr

[2015-12-03 15:36] wrgr commented on #34
obe

[2015-12-03 15:36] #34 closed, assigned to nobody

[2015-12-03 15:36] wrgr commented on #35
obe

[2015-12-03 15:36] #35 closed, assigned to nobody

[2015-12-03 15:38] wrgr commented on #69
obe.

[2015-12-03 15:38] #69 closed, assigned to nobody

[2015-12-03 15:39] wrgr commented on #71
dealing with on individual project basis.  no change to cajal planned.

[2015-12-03 15:39] #71 closed, assigned to nobody

[2015-12-03 15:39] wrgr commented on #13
done

[2015-12-03 15:39] #13 closed, assigned to wrgr

[2015-12-03 15:41] wrgr commented on #20
obe

[2015-12-03 15:41] #20 closed, assigned to nobody

[2015-12-03 15:43] wrgr commented on #72
This was user error.  Need row vectors not column vectors.

[2015-12-03 15:43] #72 closed, assigned to nobody

[2015-12-03 15:44] wrgr commented on #76
done

[2015-12-03 15:44] #76 closed, assigned to wrgr

[2015-12-03 15:44] wrgr commented on #3
obe

[2015-12-03 15:44] #3 closed, assigned to nobody

[2015-12-03 15:44] wrgr commented on #15
done in vesicle

[2015-12-03 15:44] #15 closed, assigned to wrgr

[2015-12-03 15:45] wrgr commented on #16
done in vesicle

[2015-12-03 15:45] #16 closed, assigned to wrgr

[2015-12-03 15:45] wrgr commented on #74
done.

[2015-12-03 15:45] #74 closed, assigned to wrgr

[2015-12-03 15:47] wrgr commented on #41
documented elsewhere

[2015-12-03 15:47] #41 closed, assigned to wrgr

[2015-12-03 16:30] jovo opened #77 "documentation bugs/questions"
- [ ] says "manno" in browswer tab, and in docs >> manno
- [ ] install is here: "https://github.com/openconnectome/cajal." and not in sphinx? seems easy to move?
- [ ] can you clarify about how long you expect "run_tests" to take?
- [ ] some typo thing here "users should first follow the instructions here .. code-block:"
- [ ] this link doesn't work: "One good starting point is the Getting Started

[2016-02-22 18:05] alexbaden commented on #56
Done in the single test driver (`testSingle.m`)

[2016-02-22 18:05] #56 closed, assigned to alexbaden

[2016-11-18 00:01] #75 closed, assigned to nobody